[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GUILDS"]
	path = GUILDS
	url = https://github.com/thijsjanzen/guilds
[submodule "GenomeAdmixR"]
	path = GenomeAdmixR
	url = https://github.com/thijsjanzen/genomeadmixr
[submodule "STEPCAM"]
	path = STEPCAM
	url = https://github.com/thijsjanzen/stepcam
[submodule "junctions"]
	path = junctions
	url = https://github.com/thijsjanzen/junctions
[submodule "nLTT"]
	path = nLTT
	url = https://github.com/thijsjanzen/nltt
[submodule "nodeSub"]
	path = nodeSub
	url = https://github.com/thijsjanzen/nodesub
[submodule "simRestore"]
	path = simRestore
	url = https://github.com/thijsjanzen/simrestore
